@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url('../img/background.png') no-repeat;
    background-size: cover;
    font-family: 'Orbitron'; 
}

.start{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E6F5F9;
    background-color: transparent;
    width: 500px;
    height: 300px;
    color: #E6F5F9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.title{
    letter-spacing: 4px;
    text-align: center;
    font-size: 40px;
}

.start_form{
    margin-left: auto;
    margin-right: auto;
    color: #E6F5F9;
}

.input{
    background-color: transparent;
    color: #E6F5F9;
    border: 1px solid #E6F5F9;
    padding: 4px 2px;
    width: 300px;
}

.btn{
    display: block;
    margin-top: 30px;
    padding: 4px 2px;
    font-family: 'Orbitron';
    font-weight: 700;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.canvas{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-stats{
    position: fixed;   
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding: 10px;    
    font-size: 25px;
    letter-spacing: 2px;
}

.game-stats span{
    user-select: none;
    color: #E6F5F9;
}

.end-of-game{
    position: fixed;
    display: flex;
    justify-content: center;
    border: 2px solid #E6F5F9;
    background-color: transparent;
    width: 500px;
    height: 225px;
    color: #E6F5F9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.end-of-game-form{
    margin-left: auto;
    margin-right: auto;
    color: #E6F5F9;
}

.big-score{
    font-size: 25px;
    margin-top: -20px;
}

  